ul{
    list-style-type: none;
    display:flex;
    gap: 30px;
}

.parent{
    background-color: black;
    padding:5px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.child2{
    color:white;

}

.sign{
    background-color: beige;
    color:blue;
    padding:3px;
}
.child3{
    gap:30px;
}

button:hover{
    background-color: lightpink;
    color:black;
}



