.photo{
    width:250px;
    height:250px;
    border-radius: 20px;
}
h1,p,a{
    font-family: 'Times New Roman', Times, serif;
    color:white;
}
.content{
    font-family: 'Times New Roman', Times, serif;
    color:white;
    justify-content: center;
}
.container{
    background-color: rgb(52, 52, 140);
    display:flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    gap:100px;
    padding:30px 30px;
    margin:80px;
    width:1000px;
    justify-content:center;
}

a{
    text-decoration: none;
    color:rgb(174, 40, 236)
}
.parent{
    display:flex;
    flex-direction: row;
    gap:40px;
}

body{
    background-color: #c6d8e3;
}
